.topnav {
  background-color: #200e3a;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: azure;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #38419d;
  color: white;
}
body {
  background-color: #3887be;
}
.header-container {
  color: azure;
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.main-header {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 3;
  grid-row-start: 2;
}
.secondary-header {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  grid-column-start: 3;
  grid-row-start: 3;
}

.black-wooden-texture-image {
  display: grid;
  grid-column-start: 1;
  height: 680px;
  width: 501px;
  grid-row-start: 1;
  grid-row-end: 7;
}
.black-circle {
  display: grid;
  grid-column-start: 3;
  height: 500px;
  width: auto;
  grid-row-start: 1;
  grid-row-end: 6;
  order: -1;
}
.intro {
  background-color: #176b87;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  text-align: center;
  color: whitesmoke;
}

.HTMLProjects {
  background-color: #38419d;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  text-align: center;
}

.JSGames {
  background-color: #38419d;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 981px) {
  .header-container {
    color: azure;
    display: grid;
    gap: 0.2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: auto;
    width: auto;
  }
  .main-header {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-row-start: 2;
  }
  .secondary-header {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    grid-column-start: 3;
    grid-row-start: 3;
  }

  .black-wooden-texture-image {
    display: grid;
    grid-column-start: 3;
    height: 680px;
    width: auto;
    grid-row-start: 1;
    grid-row-end: 7;
    order: -2;
  }
  .black-circle {
    display: grid;
    grid-column-start: 3;
    height: 500px;
    width: auto;
    grid-row-start: 1;
    grid-row-end: 6;
    order: -1;
  }
}
/* TODO: Fix the responsive scaling that grid is having trouble with  */
@media (max-width: 753px) {
  .intro {
    width: 90%;
    display: block;
    font-size: 1rem;
    margin-right: 5%;
    margin-left: 5%;
  }

  img {
    margin-bottom: 10px;
    width: 80%;
    display: inline;
    object-fit: cover;
    margin-right: 10%;
    margin-left: 10%;
    height: auto;
  }

  body > h2 {
    text-align: center;
  }

  .HTMLProjects {
    background-color: #38419d;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    text-align: center;
  }

  .JSGames {
    background-color: #38419d;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    text-align: center;
  }
}
